@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

html{
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  font-family: "Poppins",sans-serif;
}

nav h1 {
  font-size: 1em;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

nav ul {
  align-items: center;
  font-size: 1rem;
}

.navbar-brand {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

/* Button */
.button-link {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 8px;
  background: #3858f0;
  border-radius: 5%;
}

.button-link a {
  text-decoration: none;
  color: white;
}
.button-link:hover {
  background: #4b69ff;
  transition: 0.2s;
}

/* Footer */
footer {
  background-color: #012e40;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;
  width: 100%;
  color: white;
}

.footer-logo {
  text-align: center;
}

#href-authors {
  color: gray;
}

#href-authors:hover {
  color: rgb(206, 206, 206);
  text-decoration: underline;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul a:hover {
  color: rgb(160, 160, 160);
  text-decoration: underline;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-top: 10px;
}
