.container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ded6c7;
}