@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'poppins', sans-serif;
}

.container {
    background-color: #ded6c7;
    min-width: 100%;
}

/* início top */
.top-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #cbc4b6;
    margin: -10px;
}

.top-h1 {
    padding: 10px;
    margin: 20px;
    margin-top: 0;
}

.top-h1 span {
    color: blue;
}

.top-about p {
    margin: 20px;
    cursor: default;
}

.abt-top-img {
    max-width: 50%;
    margin: 20px;
}

/* fim top */


/* início middle */

.middle-about {
    background-color: #cbc4b6;
    height: 490px;
    margin: -10px;
}

.middle-h2 {
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    height: 75px;
}

.middle-h2 span {
    color: blue;
}

.middle-img {
    width: 60%;
    max-height: 400px;
    display: block;
    margin: auto;
}


.middle-about p {
    padding: 5px;
    margin: 10px;
    text-align: justify;
    cursor: default;
}

/* fim middle */

/* início bottom */

.bottom-about {
    background-color: #cbc4b6;
    margin: -10px;
    height: 540px;
    margin-bottom: -25px ;
}

.bottom-h2 {
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    height: 75px;
}

.bottom-h2 span {
    color: blue;
}

.bottom-about p {
    padding: 5px;
    margin: 10px;
    text-align: justify;
    cursor: default;
}

.bottom-about span {
    color: blue;
}

.bottom-img {
    width: 60%;
    max-height: 400px;
    display: block;
    margin: auto;
}

/* fim bottom */