.container {background-color: #ded6c7;}

.input-container {
    /* border: red 2px solid; */
    display: flex;
    gap: 20rem;
}

.input-card{
    padding: 10rem 5rem;
    background-color: #cbc4b6;
    border-radius: 5px;
}

.button-link {color: white;}
.login-form {margin-top: 3rem;}
.form-group {margin-top: 1rem;}

#button {margin-top: 3rem;}