@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

.titulo-ong{
    font-family: 'poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #403d3a;
    background-color: #ded6c7;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0;
}
.titulo-ong span{
    color: #0038ff;
}

.bg-ong{
    background-color: #ded6c7;
    padding-top: 80px;
    padding-bottom: 120px;
}
.listas-ong{
    background-color: #cbc4b6;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 4px;
}
.listas-ong ul{
    padding-left: 112px;
    padding-right: 80px;
    list-style: none;
}
.listas-ong li{
    font-family: 'Roboto', sans-serif;
    color: #54514d;
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 12px;
}
.titulo-listas-ong{
    padding-left: 80px;
    padding-bottom: 12px;
}
.titulo-listas-ong img, h2, h3, h4{
    display: inline-block;
}
.titulo-listas-ong h2, h3, h4{
    font-family: 'poppins', sans-serif;
    color: #2e2c2a;
    font-weight: 500;
    font-size: 1.5rem;
}
.titulo-listas-ong h3, h4{
    padding-top: 40px;
}
.titulo-listas-ong img{
    padding-bottom: 10px;
}